* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  padding-inline: 20px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

body {
  font-family: sans-serif;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgb(21, 80, 119);
  color: white;
  overflow: hidden;
}

.logo {
  height: 110px;
}

.search-bar {
  padding: 5px 10px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  outline: none;
  color: white;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;

  .navigation {
    display: flex;
    gap: 15px;
    align-items: center;

    li {
      cursor: pointer;
    }
  }
}

.card {
  width: 175px;
  max-height: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;

  & .card-header {
    width: 100%;
    height: 200px;
    position: relative;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .hover-image {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;

    &:hover {
      opacity: 0;
    }
  }

  & .name {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & p {
    text-align: center;
  }
}

.product-list {
  margin-block: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  justify-content: center;
}

.menu {
  display: flex;
  padding-block: 50px;
  gap: 30px;

  & img {
    width: 180px;
    height: 180px;
    margin-block: 15px;
  }
}

.accordian {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 20px;

  & .section {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.131);
    padding-block: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.077);
  }
}

.cart {
  padding-block: 40px;
  padding-inline: 40px;
}

.removeItem {
  & button {
    border-radius: 50%;
    border: 1px solid rgb(21, 80, 119);
    color: rgb(21, 80, 119);
    background-color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      color: white;
      background-color: rgb(21, 80, 119);
    }
  }
}

.our-btn {
  padding-inline: 7px;
  padding-block: 2px;
  background-color: transparent;
  border: 1px solid rgb(21, 80, 119);
  color: rgb(21, 80, 119);
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    color: white;
    background-color: rgb(21, 80, 119);
  }
}
